#wrapper {
    width: 960px;
    font-family: Helvetica;
    font-size: 19px;
    line-height: 32px;
}
#menu {
    height: 120px;
    line-height: 120px;
}
.margin_left_right_auto {
    margin-left: auto;
    margin-right: auto;
}
.gr_width_large {
    width: 593px;
}
.gr_width_small {
    width: 367px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear_float {
    clear: both;
}
.reset_margin_padding {
    margin: 0;
    padding: 0;
}
#masthead {
    height: 74px;
    background-image: url("../pictures/site-background.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 45px;
}
h1 a:link {
    color: black;
}
#masthead_landing {
    height: 367px;
    background-image: url("../pictures/site-background.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 45px;
}
#menu li {
    display: inline;
}
#side_photo {
    width: 320px;
}
.text_center {
    text-align: center;
}
.callout {
    width: 320px;
    height: 197px;
}
.footer {
    margin-top: 24px;
    margin-bottom:24px;
}
#hero_div {
    color: whitesmoke;
    position: relative;
    top: 50px;
    left: 50px;
}
.position_absolute {
    position: absolute;
}